[2015-04-26 17:11] kcristiano opened #2 "Merge to Core?"
Hi Christian,

Do you think this functionality would be a good candidate to merge into core?

Secondly, I have an extension (for CiviCRM 4.4) that does this, plus grabs data from a custom field (file upload) and adds that data to user_meta.   Is there a way to extend this plugin to take care of cases like this?

[2015-04-27 09:25] christianwach commented on #2
@kcristiano I'm not sure... the plugin does some things that may seem a bit peripheral to some, like compatibility with BuddyPress. If it were to be merged, a lot of the functionality should probably go into CiviCRM itself, rather than the Civi WordPress plugin.

Could you point me to your extension so I can understand better what it does?

Cheers, Christian

[2015-04-27 13:06] kcristiano commented on #2
Good points.

@christianwach Thaks for the quick response

My Work in Progress is this -- https://github.com/tadpolecc/cc.tadpole.wpcontactupdate/tree/develop  A good amount of hard coded values for now as I am testing for one client.

I am looking to have in core the ability to sync basic profile data First Name, Last name, email for sure.   That has gone out of sync on me and I hate it.

If we m

[2015-04-27 13:21] christianwach commented on #2
@kcristiano Thanks for pointing me to the code. Am I right in thinking that you're doing a Civi-to-WordPress sync by targeting the contact form? I tried to hook into `civicrm_pre` and  `civicrm_post` only, to make sure that I didn't miss places where values were changed. YMMV, of course!

The issue with trying to do this in CiviCRM core is that preventing recursion gets more complicated without th

[2015-04-27 13:28] kcristiano commented on #2
@christianwach I did it this way as I am stuck in  4.4 for this client.

I was converting it to a WP plugin when I saw yours and I stopped :).   I will try and extend yours to get the custom fields I need syncd.

Let me think about the issues you bring up.   Drupal syncs the users and that is the feature I am trying to get in civicrm-wordpress.   I am working at the Denver sprint, so I will see if

[2015-04-27 13:40] christianwach commented on #2
@kcristiano Ah, okay, I wasn't clear about that... you can of course use the new WordPress.php hooks file and my plugin will work just fine :)

It'd be good to have expert Drupal eyes on the issue - if they can point to where the sync is taking place, there's surely much to be learnt. Keep me in the loop and have a great time!

[2015-04-27 14:07] kcristiano commented on #2
@christianwach I will do that.   You anticipated my next question -- Can I use your 4.4 branch of Hooks and get your plugin to run?  Fantastic.

I will attempt to create another plugin to extend the class and do the custom field sync as well.   That may be beyond me, but I will git it a try.

[2015-04-27 15:05] christianwach commented on #2
Yes, indeed. At least you'll have access to hooks, even if the integration with shortcodes falls, er, short.

BTW, if you're working with `option_value` entities, you will have to use `civicrm_postProcess`, since (IIRC) they don't trigger `civicrm_pre` and `civicrm_post` when they're updated.

[2015-04-29 22:14] #2 closed

[2015-08-18 20:05] kcristiano opened #3 "Feature Request: Hooks"
Can we get a couple of hooks so we can tie into this plugin for custom requirements?

I have a number of use cases where I sync the CiviCRM Profile Image to WP and it would be gtreat to hook into this plugin rather than keep using my own.

In addition, I am looking at syncing User Taxonomies (I know, don't judge) to Custom Fields on the Contact record.  Would be great to have a hook fire to run ou

[2015-08-18 22:56] christianwach commented on #3
No problem @kcristiano - tell me what you need and I'll implement it. Or just create a PR :)

[2015-08-25 12:40] kcristiano commented on #3
Great @christianwach I am working on it.  Will either issue a PR or let you know where I am wanting to hook into.

[2015-11-02 05:32] oobi opened #4 "Troubleshooting sync failure"
I've run up against a bit of a wall with the sync -- I have the plugin installed and it looks like it's configured correctly, however I can't for the life of me get it to do the sync. I was wondering if there's any way to make it log its attempts to get a better understanding of what's going on?

Currently it's set to apply the group 'member' when an active membership is assigned. I've tried manua

[2015-11-02 05:34] oobi commented on #4
I forgot to mention I'm on WP 4.3.1 and CiviCRM 4.6 and I have the 'Members' plugin installed

[2015-11-02 06:27] oobi commented on #4
We found the reason... if a user in WP does NOT have a role assigned (not sure how/why this happened - perhaps a glitch somewhere during import maybe?) then the sync plugin ignores it. The expiry role is set to "anonymous user". If I add that to the user who *should* have active membership and then sync then it all works swimmingly.

Is it possible to have the sync pick up users who aren't current

[2015-11-02 09:45] christianwach commented on #4
@oobi Thanks for the report. I'm not sure it's the place of this plugin to audit and fix people's WordPress installs, but I'll think about what warnings it could display.

Does the plugin not do this for your users (well, at least for users those who *do* have a role)?

[2015-11-02 20:24] oobi commented on #4
It does work when users do have the specified roles, yes. Adding or removing a membership then toggles between the active and inactive role (member/anonymous).

The issue may just be a mismatch in my expectation of what it's intended to do. I had assumed that the sync would apply the appropriate WP group to any user who didn't already have it set so as to keep Civi as the "source of truth" for the

[2015-11-02 21:47] christianwach commented on #4
I'm not sure I follow your membership conditions. How is "is Civi member and is WP anonymous?" different from "is Civi member and not WP member?" especially since they both have the same outcome of "unset WP anonymous, set WP member" (or vice versa).

This plugin essentially reacts to *changes* in membership status on the Civi side. So when a membership is applied to a Contact, the appropriate rul

[2015-11-02 22:05] oobi commented on #4
The distinction between the tests I mentioned is whether presence or absence of the anonymous role has a bearing on whether the Civi member should be assigned the active member role. I haven't dug through the code to verify what's being checked, but from observation it seem to ask "is this user in the *inactive* member role" before assigning the active member role. I would have thought a more appr

[2015-11-02 22:20] christianwach commented on #4
Ah, I see now, thanks. I see that it's a conundrum specific to role sync that doesn't apply to capability sync. The edit to my previous comment explains why I think capability sync is more a more WordPress-friendly approach... but I'll have a think about the issue you've raised.

[2015-11-03 00:16] oobi commented on #4
thanks for your time :)

[2015-11-03 09:25] christianwach commented on #4
It strikes me that we're discussing this in the issue queue for the wrong plugin - I think this discussion refers to [CiviCRM WP Member Sync](https://github.com/christianwach/civicrm-wp-member-sync) rather than this one :-)

[2015-11-03 11:07] oobi commented on #4
you're dead right - my bad!

[2016-02-12 11:22] bradydan opened #5 "Sync WooCommerce billing address CiviCRM billing address"
Is it possible to extend this plugin so that when users update their WordPress (eg WooCommerce) billing address (in 'my-account'), this updates the CiviCRM contact's billing address? And vice versa?

It would also be nice to sync the WooCommerce shipping address, though this might require a simple GUI to choose which CiviCRM address to sync to (work, main, etc)

[2016-03-22 16:06] shawnholt commented on #5
yes - that would be great.  Any docs or pointers to extending?

[2016-03-22 16:29] christianwach commented on #5
Would [this plugin](https://github.com/mecachisenros/woocommerce_civicrm_checkout_fill) be helpful?

[2016-03-22 17:05] bradydan commented on #5
Yes, we are using that plugin. Works well

[2016-03-22 17:09] bradydan commented on #5
This issue can be closed as far as I'm concerned

[2016-03-22 17:11] christianwach commented on #5
@bradydan Thanks for confirming. My response was aimed at @shawnholt - I should have at-mentioned him in it to avoid confusion!

[2016-03-22 17:11] #5 closed

[2016-03-23 13:32] christianwach commented on #3
Will this do? 65c630e1777ddca55a11732b2ebcb0a970ea5b6b

[2016-03-23 16:49] kcristiano commented on #3
I'll test that as soon as I can.   I just need to update a custom field in a profile between WP and CiviCRM.  I do it via the API and WP functions, so reading it I am hopeful.

[2016-04-05 13:24] christianwach commented on #4
@oobi I'd like to close this, but wanted to check with you that the Member Sync plugin works at it should...

I don't think this observation is correct. Since the initial commit, the plugin's logic has always been to check only if the primary role differs from the role indicated by the sync rule. See [this line](https://github.com/christianwach/civicrm-wp-member-sync/blob/master/civi-wp-ms-admin.p

[2016-04-09 11:55] christianwach commented on #3
Closed via 65c630e1777ddca55a11732b2ebcb0a970ea5b6b

Let me know if you want any further hooks and I'll add them in.

[2016-04-09 11:55] #3 closed

[2016-06-20 15:00] christianwach commented on #4
@oobi Please can you open a new issue on the CiviCRM WP Member Sync repo if the 0.3 update doesn't perform the sync as you expect it to? I've reworked the sync routines for the latest release.

Cheers, Christian

[2016-06-20 15:00] #4 closed

[2016-10-28 02:28] oobi opened #7 "Bulk create users - option missing?"
We recently updated our CiviCRM to 4.6.22 and updated the profile sync plugin. Prior to the update we could select contacts from a list and bulk create WordPress accounts using "create wordpress users from contacts" but since the update this option is no longer available.

The last version we had installed required that we copy some template and PHP code into the 'plugins/files' folder but the ins

[2016-10-28 02:36] oobi commented on #7
Never mind I found it by accident!

For anyone else confused by this you need to set this constant to true (edit the civicrm-wp-profile-sync.php in the plugin folder)

// set our bulk operations flag here
define( 'CIVICRM_WP_PROFILE_SYNC_BULK', true );

Is this the preferred way of doing this or is there a setting buried somewhere to manage this?

[2016-10-28 08:16] christianwach commented on #7
@oobi It's intended behaviour - I consider the code to extend `CRM_Contact_Form_Task` to be experimental because there's no documentation that I can find (except what's inline and that mostly assumes more knowledge than I have) and very few relevant examples.

Given the amount of time that I already spend supporting users of my free plugins, I'd rather not support people who can't set a constant i

[2016-10-28 08:16] #7 closed

[2016-10-28 08:32] oobi commented on #7
Understood - thanks Christian

[2017-02-07 08:25] linssen opened #9 "Usernames frequently not unique when creating users"
When creating users on bulk [the code] does the following

1. First name is 1 character (initial)? Pad with middle name
1. Username = first name + last name
1. Username already exists (very likely)?
1. Fall back to Wordpress plugin to try and resolve (as of 3f677c417684ae1d5de3279a3761f19bf37816d8)
1. Clash still exists? Ignore user

That means any users with the same first, and last name won't be

[2017-02-07 09:48] christianwach commented on #9
@linssen To be accurate, there's an extra attempt to create a user after step (3) where `username = first + middle + last` and if this too fails then the `civicrm_wp_profile_sync_unique_username` filter is applied. Can you explain how moving the filter would help avoid duplicate usernames?

[2017-02-07 09:54] linssen commented on #9
Largely it would just mean a uniform approach to usernames for all contacts. For example, in our case we already have a field for a globally unique member id: we'd want to use that. With the plugin being called later on, we would have 90% of our users with the username `firstname.lastname` and 10% using their unique member id.

I suggest using it is an override hook at the beginning of the usernam

[2017-02-07 10:10] christianwach commented on #9
@linssen Ah, I see - fair point. Yours is a deliberate override of the username rather than a last resort approach - though the end result is the same. I'll add a new filter where you suggest so as to avoid confusion for those taking a defensive approach.

Calls for another filter, methinks. Give me a couple of mins...

[2017-02-07 11:09] christianwach commented on #9
@linssen I've added some filters in e366a9b278b3e5772a6ab43814fa1bc459c1e41a that should help you out. You can now filter the query, contact data rows and username.

[2017-02-07 11:24] linssen commented on #9
Looks like exactly what I was hoping for, thanks! Worth adding to the readme?

[2017-02-07 11:35] christianwach commented on #9
@linssen I really don't want to do endless free support for non-technical folks on this - hence why the bulk constant is off by default. I'll review the readme, but I doubt I'll highlight this.

[2017-02-07 11:35] #9 closed

[2017-02-07 11:35] linssen commented on #9
Fair enough. Really appreciate this, thanks @christianwach.

[2017-06-22 22:50] gitschatz opened #10 "Where to set constants from default?"
It looks like `CIVICRM_WP_PROFILE_SYNC_BULK` needs to be true to add the Create WP users action to the Contact form.

However, if I define it first in my wp-config.php, I get PHP Notices that it's already defined in this plugin. Where is it intended to set this?

[2017-06-23 08:48] christianwach commented on #10
Given that it's usually a one-off process, just [set it in the plugin](https://github.com/christianwach/civicrm-wp-profile-sync/blob/master/civicrm-wp-profile-sync.php#L21) for now. I'll revisit this functionality in the next iteration. Leaving this issue open to remind me.

[2017-11-01 14:20] #10 closed

[2020-05-09 15:50] Dubidubiduu opened #12 "[Bug] Name of bulk created users get "—""
Hey Christian,

using 0.3, bulk created wp-users gets "—" as a name. Before it was just "Firstname Lastname".

Civi: 5.24.5

--
I don't know yet, maybe this is also a reason of a weird behaviour that my synced civi profiles loosing their names and though my sync to nextcloud fails, but this needs further verify.

[2020-05-09 15:56] Dubidubiduu opened #13 "[Feature] Create wp-user of a single profile"
Feature:
When in profile view, add an option to the "action menu" to create a wordpress user out of this profile.

Condition:
CIVICRM_WP_PROFILE_SYNC_BULK is set true. (I know, the name of the constant would then be misleading :-/)

Benefit:
You are able to create a user out of the profile, you don't have to go to a group this user belongs to or have to search for parts of the user information jus

[2020-05-11 14:31] christianwach commented on #12
@Dubidubiduu Do you have CiviCRM WP Member sync installed as well?

[2020-05-11 14:36] christianwach commented on #13
@Dubidubiduu I like this idea and will implement it when I figure out how to create an interstitial "Are you sure?" page in CiviCRM. I'll keep this issue open and update it as and when.

FWIW, I've been meaning to remove the need for that constant for some time.

[2020-05-13 08:46] Dubidubiduu commented on #12
I had this installed and also got confused with these two plugins in the past, but right now, it's just "CiviCRM WordPress Profile Sync".

Maybe it's a plugin incompability and I have to dive deeper anyway. Will comment when I find something.

[2020-07-29 19:28] Dubidubiduu opened #14 "Hook(?) for CiviRules"
Can you do a hook for CiviRules? I want to automate our onboard process even further. This is, ppl. use a caldera forms, so a civi-contact is created. I then do some CiviRules magic. Creating a wordpress user of that contact by CiviRules would be a big plus.

[2020-07-30 10:03] christianwach commented on #14
@Dubidubiduu Does this help? https://github.com/CiviCooP/org.civicoop.wpcivirules

[2020-08-14 10:16] Dubidubiduu commented on #14
Haven't thought there is a plugin, for a plugin, for a plugin. Just needed to change few lines, but otherwise it did exactly what I needed. Thank you for the hint.

[2020-08-14 10:16] #14 closed

[2021-01-21 13:05] jbonlinea opened #15 "WP-user added to WP-sub-site [Bug] [Multisite Feature]"
Hi Christian :)

Continuing my testings I think I have found a use case of interest when using with Civi-wp-profile-sync along Wp multisites (one network)

#### why use civi-wp-profile sync on a wp network

In some working ecosystem (academics, at least in france), many person belong to more than one institutions, it could be their employeer, their lab, some association, etc...

Many of these inst

[2021-03-19 09:27] jbonlinea opened #16 "Sync contact membership data to Acf field"
Hi there,

I've seen you started to merge civi-acf with this plug-in !
And this opens the way to sync contact to users ! Awesome, seriously you rock !

This is great as we can even sync Civi-custom field !

I realize that this "civi-acf" integration is still a recent project, which has already gone a long way, but there is one Civi feature that seems central, at least in my needs), and that is not

[2021-03-19 10:56] christianwach commented on #16
@jbonlinea Are you looking for this?

https://wordpress.org/plugins/civicrm-wp-member-sync/

[2021-03-19 15:55] jbonlinea commented on #16
Hi :)

well I've been using this extensively !
The capabilities feature, which include membership type and membership status is genius :)

But, I haven't seen any way to retrieve the current user, or any user, membership and membership statut, like what this [provide](https://github.com/agileware/wp-civicrm-ux/blob/master/USAGE.md).

Of course members can be grouped according to their status, both

[2021-03-19 18:35] christianwach commented on #16
@jbonlinea I don't understand why you'd want such a simple switch on the User record. Memberships are usually granted or revoked via payments, time limits (or other criteria) which are handled in CiviCRM. I wouldn't want my users switching their "Trial Grace Period" Membership into a "VIP Lifetime Membership"!

[2021-03-20 11:03] jbonlinea commented on #16
Hi,

Indeed, I do agree with what you describe, and would like to add that not ALL membership data should be editable by the members themselves, but some may.
For instance when membership gives you access to certain "things" that can be on physical support as well as electronic (newspaper, scientific journal, etc.).

They may want to chose the format they want, and may be offered the option to cha

[2021-03-22 10:56] christianwach commented on #16
@jbonlinea Comments noted. Thanks!

[2021-03-29 13:53] jbonlinea commented on #16
Hi,
Just to say that I bumped into this following the path, contact can be member, member get journal access 6 month before the other, access if offered for either electronic or paper.
But as second thought, for many use case, adding the civi custom field to the contact rather than the membership would be perfectly fine.

If the Civi instance is multi-domain, with multi-organization, each having m

[2021-04-12 21:41] yurg opened #17 "ACF integration: no Custom fields visible under "ACF Field Group > Field type""
It is CiviCRM 5.29, ACF 5.9.5 and CiviCRM Profile Sync 0.4
After reading "[Links between Fields](https://github.com/christianwach/civicrm-wp-profile-sync/blob/master/docs/ACF.md#links-between-fields)" I was searching for "Constituent Information" fields on ACF "Edit Field Group > Add FIeld > Field Type" and found nothing, only basic Contact fields are listed, like ID, Contact Reference, Address, e

[2021-04-13 11:28] christianwach commented on #17
@yurg Hard to tell how you've got your site set up, but what's important is to choose the matching Field Type. So, for "Most Important Issue" you need to select "Radio Button" in ACF and then you should see:

<img width="954" alt="Screenshot 2021-04-13 at 12 22 34" src="https://user-images.githubusercontent.com/726936/114544931-34fac380-9c53-11eb-9e63-17c1f10fc7e9.png">

Same goes for "Marital Sta

[2021-04-13 13:03] yurg commented on #17
@christianwach Thank you, right, sorry, was under impression it is right in the "main" select.

![customfield](https://user-images.githubusercontent.com/273282/114556498-10114b00-9c69-11eb-9b96-e59beb425728.png)

[2021-04-13 20:59] #17 closed

[2021-04-13 21:22] christianwach commented on #17
@yurg FYI those are custom ACF Field Types that you can use to sync particular CiviCRM Entities (or parts thereof). I think the docs explain what each of these does and why they're needed.

[2021-04-13 21:24] christianwach commented on #17
@yurg *Except... * is that really "Constituent Information: Most Important Issue" as an ACF Field Type in that list? How did that get there? Is it a custom ACF Field that you've created?

[2021-04-14 23:42] yurg commented on #17
@christianwach  Right, docs!  And no, it is not real "Constituent Information: Most Important Issue", just made up a visual of where I expected it to be. Thank you for your help, struggling with country display now - must be "Select" field. Guess it is documentation reading time now.

[2021-04-19 20:14] yurg opened #18 "Country/State"
According to https://github.com/christianwach/civicrm-wp-profile-sync/blob/master/docs/ACF.md#country--stateprovince it is "Select' field, but whatever I do, there are only "IndividualPrefix/Suffix"
![country-state](https://user-images.githubusercontent.com/273282/115297297-56c8de80-a15c-11eb-9de8-f3133e993e2a.png)
I have the right-hand box empty on "Settings - Localization" page., ie. all countri

[2021-04-20 08:04] christianwach commented on #18
Works for me.

Here's the standard "Select" Field:

<img width="957" alt="Screenshot 2021-04-20 at 08 59 26" src="https://user-images.githubusercontent.com/726936/115359634-c9ff3e80-a1b6-11eb-98fe-56a655f4ecfd.png">

Here's the "Select" Field with "Select multiple values?" selected:

<img width="956" alt="Screenshot 2021-04-20 at 08 59 07" src="https://user-images.githubusercontent.com/726936/1153

[2021-04-20 12:25] yurg commented on #18
@christianwach `Are you sure the Custom Field Group is assigned to the Contact Sub-type?`
Is it CiviCRM Custom Field Group to be assigned to CiviCRM Contact Sub-type and Coutry/State to be a custom field like "The Full Monty" on the grabs?
I can see there is "CiviCRM City", "CiviCRM State" and "CiviCRM Address" ( which holds all this plus Country ) so just thinking if maybe a Country deserves its

[2021-05-01 04:59] normancates opened #19 "CiviCRM Profile Sync seems to cause fatal error when Admin menu is visible, and user is not an administrator"
I have a WP install that is relatively fresh. Very minimal until the last month or so when I started working a lot on it.

I installed CiviCRM for a membership site, and installed useful plugins, like this one.

But I have found that if a user role has access to the admin menu, and is NOT an Administrator then WP will crash with the below error.

[code]

If I disable CiviCRM Profile Sync, then eve

[2021-05-02 09:20] christianwach commented on #19
@normancates Not sure what you mean by this. What is the capability you're granting?

[2021-05-02 11:55] normancates commented on #19
Hmmm. Erm. I’m not sure which capability it would be. The access to the Admin menu is being set by Ultimate Members. It can specify whether a particular role can see the admin menu.

I am not familiar enough with capabilities to know which that might be. Or if it’s a filter being set?

Im glad to do some more trouble shooting if you have some area I could pursue.

[2021-05-02 16:17] christianwach commented on #19
Is it one of these options that are you referring to?

![Ultimate Member options](https://ultimatemember.com/wp-content/uploads/2019/07/user-roles.png)

[2021-05-02 19:39] normancates commented on #19
Yes indeed. For instance if I change the Editor role to be able to see the admin menu by unticking “force hide admin bar in front end” then the error occurs.

[2021-05-03 08:15] christianwach commented on #19
Hmm, wonder what they're doing there? Hard to tell as I'm unable to inspect their code without buying the plugin.

BuddyPress manages to enable all logged-in Users (regardless of role) to access the WordPress menu bar  on the front-end and back-end without triggering errors when this plugin is active:

<img width="907" alt="Screenshot 2021-05-03 at 09 11 45" src="https://user-images.githubusercont

[2021-06-30 07:52] jbonlinea opened #20 "[How To] sync deletion of WP-user/account Civi-contact"
Hi @christianwach

I have set wp profile sync and it worck great on account creation et edition and on contact creation or edition.

However there are few wp-account that it would like to delete, they are linked to Civi-Contact, but deleting the account do not delete the contact.
I haven't tried to delete a contact (fully delete not just garbage it) and see if it delete the wp account, because I n

[2021-06-30 08:08] jbonlinea opened #21 "propagate between sites"
Hi,

I've seen that the description of the plugin now address quite neatly the multi-site functioning ; that's great !

more specifically there is this paragraph :

whish is exactyl how I envisioned thing there #15

Some while ago, when I was using acf-civi to sync a wp cpt name CustomAuthors with civi contact, i went the same road, syncing post that then propagated the change to civi.
But the use

[2021-06-30 13:17] christianwach commented on #20
@jbonlinea Deletion isn't handled out-of-the-box because I don't want this plugin to delete data that's meant to be kept - and it's not really possible to guess that in advance. You'll have to implement that in code to suit your own guidelines.

[2021-06-30 13:18] christianwach commented on #21
@jbonlinea Sorry, that's not something I have done.

[2021-06-30 15:32] jbonlinea commented on #20
Ok
I understand that deletion might be a dangerous game especially on multisite or multidomain install.

I'm thinking of a hack that could simplify one's task without to much fuzz, using civi acf to sync wp user/civi-contact to group through a taxonomy.

One may then split/group his users based on taxonomy, sync roles/capacity through civi member sync and have a consistent filing in both and civi

[2021-08-20 09:42] jbonlinea opened #22 "No WP-post-type selector in Activity type settings"
Hi there :)

I'm considering using the possibility to sync a wp-post-type with an activity type as describe in the redme.

However, in Civi -> Administer -> Customize Data and Screens -> Activity Types -> edit and activity, there is no selector to set the wp-post-type we want to sync.

for the sake of testing, I've checked with several type of activity and created a new post type.
Also note that t

[2021-08-24 15:34] christianwach commented on #22
Thanks for the heads up @jbonlinea - I think I excluded certain Activity Types using code from CiviCRM Core that may not be entirely suitable for this context. I'll look into it.

[2021-08-24 15:42] christianwach commented on #22
Out of interest, which Activity Type didn't have the selector? Was it one you created? Or a built-in one?

[2021-09-02 14:25] jbonlinea commented on #22
Hi
well, at that time I tried built in "CiviEvent" activity type ;
but it appears that ONLY SOME "Contact" activities offer the select field to sync

ok I haven't tried every single built-in activities, but quite many ;)

Cheers

[2021-09-02 14:28] jbonlinea commented on #21
Hi,

just in case, do you have any list of  hooks and filters available for this module ?

Thank's

[2021-09-02 14:55] jbonlinea opened #23 "" First pass at Participant sync""
Hi @christianwach

I've seen you've recently added some field type int he comit of the above name, but they do not seems to apear on the readme file.

I've tried them, events ref and event type, civi events are loaded, but can't figure what happen on civi side ?

Is this already functional or only the field exist but they are not "linked" to Civi "action" yet ?

Very interested in that ;)

[2021-09-06 14:49] christianwach commented on #21
Not official docs, but lots of details in the code:

* https://github.com/christianwach/civicrm-wp-profile-sync/search?q=apply_filters
* https://github.com/christianwach/civicrm-wp-profile-sync/search?q=do_action

[2021-09-06 14:51] christianwach commented on #23
@jbonlinea This functionality isn't quite ready yet. I'll write it up when it is.

[2021-09-06 14:51] #23 closed

[2021-09-07 09:54] christianwach commented on #13
Closing since this is now part of CiviCRM Core.

[2021-09-07 09:54] #13 closed

[2021-09-08 11:30] christianwach commented on #18
"CiviCRM Country (Read Only)" ACF Field implemented in 3cd0a99ff0b435ea1b4dce1c9c5b701eb328bd93

[2021-09-08 11:30] #18 closed

[2021-09-08 11:56] christianwach commented on #22
Fixed in e7e084222b5d4c2c48c27a8e554311363cb4faab. Sync unusual Activity Types at your own risk :-)

[2021-09-08 11:56] #22 closed

[2021-09-08 11:58] christianwach commented on #19
Closing since I don't think I can do anything about this. Please re-open if you feel this is in error @normancates

[2021-09-08 11:58] #19 closed

[2021-09-08 12:08] christianwach commented on #15
I would recommend working with Users rather than Post Types for the kind of functionality you describe. It sounds to me like you're in need of a custom plugin to achieve this.

[2021-09-08 12:08] #15 closed

[2021-09-08 12:10] christianwach commented on #20
@jbonlinea Closing because I think you're talking about a custom plugin for your particular needs.

[2021-09-08 12:10] #20 closed

[2021-09-08 12:11] christianwach commented on #12
@Dubidubiduu Closing due to inactivity - please re-open if you have any further information. Thanks!

[2021-09-08 12:11] #12 closed

[2021-09-08 12:12] #21 closed

[2021-09-08 12:13] christianwach commented on #16
@jbonlinea Closing because I think we discussed a possible solution to this using CiviRules and CiviCRM Group Sync elsewhere.

[2021-09-08 12:13] #16 closed

[2021-09-08 12:14] christianwach commented on #23
@jbonlinea FYI there is now some documentation on Participant sync in the ACF Docs.

[2021-09-14 08:18] jbonlinea commented on #23
Hi @christianwach

Ok, excellent !

This plug-in provides a lot !

I'm a bit puzzuled by its recent turn, it is awesome to sync wp-user<=> civi-contact more extensivelly compared to before, and awesome to see that participant are now handled.
Yet, I feel a bit overwhelmed by post types... having user and post-type for contact sync is great since we may not always want to create users.
But, isn't p

[2021-09-14 08:24] jbonlinea commented on #21
@christianwach

thank's I'll digg into it

[2021-09-14 08:25] jbonlinea commented on #22
:)

@christianwach what do you mean by "unsual" ? custom ?

[2021-09-14 08:30] jbonlinea commented on #20
this might just be a checkbox in the acf settings so one could decide for himself, but I get how cautious it requires to be, and this is not critical

yep, I digressed, and now realisez that taxonomy for user is a built in wp feature, better to group wp user using wp-groups and user your other great plug-in that syncs wp-groups to civi-groups ; I wasn't aware of this one and discovered it to fit t

[2021-09-14 08:34] jbonlinea commented on #16
Yes this approach could work when we are not on a multidomain civi :)

[2021-09-14 10:01] jbonlinea opened #24 "Bi-directional-Sync works but if wp-post created first, no civi-contact are created"
Hi there

I've set up this plug on on a site that already had cpt, but no civi untill now, and have one case where civi-contact creation do not occurs

In my case I intend to sync Wp-User <=> Civi-Contact <=> Wp-Post

- if I create a Wp-user :
  - the Civi-Contact is created
  -  the Wp-Post as well  !!! Awesome this is awesome !

- if I create a Civi-Contact :
  - a Wp-post is created,
  - and I

[2021-09-14 10:20] christianwach commented on #24
@jbonlinea Do you have a CiviCRM Multi-Domain install?

[2021-09-14 10:22] jbonlinea commented on #24
Hi,
well no, as I'm not doing multidomain, but multi instance...
basically the sites shares plug-in code in wp-content/plugins, but each site has its own civicrm folder and database

[2021-09-14 10:29] christianwach commented on #24
As [the docs suggest](https://github.com/christianwach/civicrm-wp-profile-sync#multisite), you've got yourself a very complicated system that will almost certainly require custom code.

Returning to this, then, I honestly don't know why this is the case for you. Works for me on a test Multisite (and Multi-Network) with a similar configuration. 🤷

[2021-09-14 10:45] jbonlinea commented on #24
ok ok...

Sometimes men need a kick in the ass, but sometimes it is the machine that really needs it :D

As said, I "added" this plug-in to a wp site that already had a bunch a post of a given post type.

What I did is enabled you plug-in
mapped the post type
created the acf field group

it didn't work as explaiend above, thus I re-mapped the post-type, turn all plug-in off and on again, then only

[2021-09-14 10:45] #24 closed

[2021-09-16 16:56] jbonlinea opened #25 "Multisite behaviour : when an existing user is added to a sub-site, the contact is not created"
Hi @christianwach

Digging and digging in wp civi interaction and behaviour !

This is not an issue per se, but a report on the behaviour of the puig-in in use case you might not have explored :)

the set up :
wp network
one sub-site has it's own civi instance/database

---

I've just realised that when an existing wp-user (of the network) is "simply" added to a subsite the contact is not created.

[2021-09-16 17:28] christianwach commented on #25
@jbonlinea Auto-adding them may or may not be desired behaviour. You can use the `add_user_to_blog` action to add them to CiviCRM in your particular setup.

[2021-09-23 08:13] jbonlinea commented on #25
Hello,

Inddeed, this would work, yet sometimes I understand the rational behind the default behavior of wp-civi-profile sync, but sometimes not, in which case I wonder why and if what I have in mind is in line with a broader behavior consistency.

In this specific case, I have to acknowledge that I don't get why, if I sync my sub-site user, I wouldn''t want the added user to be synced, or synced

[2021-09-23 08:18] jbonlinea opened #26 "Défault dedupe rule ?"
Hi @christianwach

May I ask if there is and what is the default dedupe rule ?

let me suggest a simple use case,
I do have a contact with only it's primary email, but he has no user
then a user register with the primary email of the above contact (plus extra contact details)

Out of the box, a second contact is created.

Thus the question is is there a dedube rule ran when civi-wp-profile-sync tr

[2021-09-24 07:47] christianwach commented on #26
@jbonlinea FYI this plugin uses `CRM_Core_BAO_UFMatch::synchronizeUFMatch()` and therefore it is CiviCRM that performs deduping before inserting a Contact.

I just tested this and the User was correctly matched to the Contact with the same email address.

[2021-09-27 07:06] jbonlinea commented on #26
Hi @christianwach

Thank's for your reply

ok, actually I  I already happen to rely on the de-dupe system when creating synced post from forms using the acf part of this module, and I guessed you used civicrm built-in dedupe system rather than building your own,

yeah well, I fooled myself, I do have the same behavior than what you describe above...  Both using wp-login.php or caldera form to crea

[2021-09-27 07:06] #26 closed

[2021-11-25 13:53] jbonlinea opened #28 "Civi Relationship and ACF Relationship"
Hi @christianwach

Here is something I had in mind for a while, but haven't shared yet ! The relatively recent arrival of the "participant" syncing ability revive this questioning.

Let me start by recalling what is the situation "at the moment" then provide an use case and finally a what could be enhancement.

---

#### At the moment

##### Civi Only (not considering Acf)

Civi provide for bi-dir

[2021-12-13 06:54] monishdeb opened #29 "Cannot select existing contact in CiviCRM Contact: Existing/New field"
I found that the select list is empty, irrespective of the contact type I choose:
![before](https://user-images.githubusercontent.com/3735621/145765961-1a7d6c2f-2c5e-4d48-8e16-a190219cfe5a.gif)

[2021-12-13 08:56] christianwach commented on #29
@monishdeb This ACF Field Type is intended for Participant sync. How are you using it?

[2021-12-13 09:21] monishdeb commented on #29
@christianwach oh I wasn't aware of that. So what I want is add three contact fields which has the option to either create or choose an existing one. The reason I have chosen this field type :
<img width="384" alt="Screenshot 2021-12-13 at 2 39 52 PM" src="https://user-images.githubusercontent.com/3735621/145783848-140f8f88-4d5f-4db4-8199-1d6a13a4998a.png">

Although the label didn't indicate if i

[2021-12-13 09:32] christianwach commented on #29
@monishdeb It's stated in the [docs](https://github.com/christianwach/civicrm-wp-profile-sync/blob/master/docs/ACF.md#civicrm-participant-fields) :-)

FYI only Fields grouped under either of the ACFE Forms optgroups can be, um, used in ACFE Forms.

For linking to an existing Contact, you could use a Contact Reference Field linked to a CiviCRM Custom Field that limits Contacts to a Group. That way

[2021-12-13 11:46] monishdeb commented on #29
@christianwach ah right .. my bad :(

Actually, I need to have both the existing Contact dropdown and new contact fields bundled in a field group like the current `CiviCRM Contact: Existing/New` field type offers as per the client's spec. Although I have used the Contact Reference field in other places I guess currently `CiviCRM Contact: Existing/New` only supports Participant sync.

[2021-12-13 12:32] christianwach commented on #29
You could bundle them yourself in an ACF Group Field and use conditionals to replicate the "CiviCRM Contact: Existing/New" group. Then use the Form Actions to port the resulting values to CiviCRM.

[2022-01-06 05:10] monishdeb commented on #29
Thanks for your suggestion @christianwach . I have achieved replicating the "CiviCRM Contact: Existing/New" field by using group of subfields and handling the validation and contact creation in a custom action-provider. Closing this ticket now.

[2022-01-06 05:10] #29 closed

[2022-01-28 15:31] JoeMurray opened #31 "File upload for custom contact field?"
Could you provide an estimate for how much it would cost to support a file upload for ACFE for a custom field on a contact? Would you be able to do this in the next few weeks?

[2022-03-09 13:06] christianwach commented on #31
Latest commits implement this.

[2022-03-09 13:06] #31 closed

[2022-03-10 19:16] jbonlinea opened #33 "Bi-directional-Sync works but if wp-post created first, no civi-contact are created"
Hi there,

I'm opening this issue facing this behaviour.

It is basicallyy the exact same issue as this one #24 except that the "solution" do not work this time, and quite many updates have been done in the meantime, wp, civi, acf, etc.

Also, it appears that manualy syncing do not work. It starts, but nothing happens. It applies for the post type I'm dealing with, but I've tested a group to taxon

[2022-03-10 21:36] christianwach commented on #33
@jbonlinea Anything in your error logs?

[2022-03-13 09:43] jbonlinea commented on #33
hi @christianwach

oh yes, a lot, not all civi-acf related tho, but some Civi specific I've left in case
[code]

[2022-03-13 18:07] christianwach commented on #33
@jbonlinea I've trimmed down the logs to something a bit more manageable.

Here are a couple of things I would look at:

[code]

These log entries suggest that you have some Relationships that have no Contact Types (A and/or B) assigned to them. You should review your Relationship Types in CiviCRM and make sure they are valid.

[code]

These entries in the backtrace show that CiviRules is interven

[2022-03-13 22:44] jbonlinea commented on #33
Hi,
Thank's for this, I had seen theses lines but did not know how to interpret it and act upon.

regarding civicrm relationship, all of them have an A nd B contact type (I actually only have create one relationship type that I do not use yet)

Regarding Civirules,
I have only one rule that is trigged when a "Contact is added to Group". The rule works, but
- if I try to edit the rule I got an erro

[2022-03-13 22:44] #33 closed

[2022-04-18 15:13] jbonlinea opened #34 "Sync custom post type with events"
Hi @christianwach

I had this in mind for a while but wasn't sure of its interest and benefits, and still, but I have to drop it somewhere, curious about your feedback.

In short, why couldn't we choose what CPT we would lile to sync with CiviEvent, and map the fields, there are basically very few of them, and if it is doable for an existing plug-in with its own post type, it mush be doable withou

[2022-04-19 11:04] jbonlinea opened #35 "May a CPT without title field be used to sync CiviContact"
Hi @christianwach

I do have a question, I've partly experienced it, but would be more confident if you could provide a more structural answer.

Ok, we can map a Civi-Contact-Type to a WP-CPT, and then map fields.

Out of the box, if the CPT has a title field, civicrm-wp-profile-sync, map the post_title to the civicrm_contact_name.

This is cool, despite it migh not be best when one want a separat

[2022-04-19 22:04] jbonlinea commented on #34
Ok, if it require heavy work, then it might not be worth indeed.

I now suspect that it would require to create a lot of acf custom field type, to handle venue, and stuff like that.

Thank's for the feedback :)

[2022-04-19 22:39] jbonlinea commented on #35
HI

Ok, actually I did excatly the way you suggest.

It's great, but I'm always thinking about UX, and having both "title" and a couple of "names field"
- is redundent and thus a pain to type in,
- the user never know which one of the first or last name should be typed in first in the title, it's good to know it will be overriden anyhow, but the average user do not know about that and get stucks (

[2022-04-19 22:39] #35 closed

[2022-04-20 09:35] christianwach commented on #35
Just a thought regarding UX - you could use ACF Extended and create front-end forms that create the posts instead. That way you get to control what maps to what and no-one needs to access the WordPress admin.

[2022-04-20 09:36] christianwach commented on #34
I really don't want to reinvent the wheel :-)

[2022-04-20 09:36] #34 closed

[2022-04-20 16:22] jbonlinea commented on #35
yes I've followed this path as well, but many average user, that are "editors", have their habit with WP and it is easier for them to stick to it rather than remember that there is a front end form somewhere ; this are the ones bothered with this kind of issue, despite it is minimal I agree ;)

[2022-05-25 08:38] jbonlinea opened #36 ""Undefined index: contact_type_a" in log while relationships seems well defined"
Hi ,

Some while ago i bumped into an issue which was related to CiviRules and your plug-in (see #33 ). In this Case disabling CiviRules restored the functioning of CWPS, but it actually did not "solve all".

I do not observe any functioning issues, but my wp debug.log still has these notices.

`
Notice: Undefined index: contact_type_a in /home/clients/bbc72ce255869f60b780c5b2eda42100/sites/pole-f

[2022-05-25 08:54] jbonlinea opened #37 "how to use wp action like "save_post" along cwps : any recomendations ?"
Hi there,

I would like to perform some custom task (fuction) on some wordpress post  or user events, like `save_post`, `edit_post`, `user_register`
`edit_user_profile`, and so on.

Is there any recomendation on how to do that knowing that cwps is running to ?
I've tried to basic function that works nicely without cwps but crash when it is enabled.

Actually, it would even be best if I could run m

[2022-05-25 09:06] christianwach commented on #36
Do you have the latest `master` running?

[2022-05-25 09:20] christianwach commented on #37
Search this repo for the hook you're interested in using -- it should reveal where this plugin uses it. Then hook in after this plugin does.

[2022-05-25 09:35] jbonlinea commented on #36
humm I do have 0.5.7, but from wp repo not github

[2022-05-25 09:56] jbonlinea commented on #37
Humm

you mean, for instance with wp `save_post` hook,

- do a search [like this ](https://github.com/christianwach/civicrm-wp-profile-sync/search?q=save_post)
- find the proper line in your plug-in namely file `includes/acf/classes/cwps-acf-mapper.php line 234`
- and then add my own action with a lower priority like this `add_action( 'save_post', 'my_function', 10, 3 );`

Humm I think the last st

[2022-05-26 07:06] christianwach commented on #36
Thinking again about this -- I'd use the API Explorer to look at the Relationships you have in your system and see if there are any that are broken.

[2022-05-31 00:16] seamuslee001 commented on #36
@christianwach we have a similar problem on a JMA client, the problem arises when you have a relationship that for either contact_id_a or contact_id_b applies to All Contacts.

e.g. as per the screenshot

![relationship_type_all_contacts](https://user-images.githubusercontent.com/6799125/171070232-37873794-15e2-4ec9-b055-71e8d63414ec.jpg)

This leads to in the API a situation like which causes the

[2022-06-02 17:50] rbaugh commented on #36
We ran into this as well and our case is similar to @seamuslee001 in which we have a relationship where A/B are both set to All Contacts so the API call doesn't have those two fields in the response.

[2022-06-03 14:06] rbaugh opened #38 "PHP 8 Deprecation Notices"
After switching over to PHP 8.0, I noticed the following notices:
[code]

I was looking to just add on a default value to make these optional, but then thought the code may need some checks to verify that the expected variable has data you expect. So checking an [array property exists](https://github.com/christianwach/civicrm-wp-profile-sync/blob/master/includes/acf/classes/cwps-acf-acf-field.php#

[2022-06-07 11:13] christianwach commented on #36
@seamuslee001 Ah, thanks for the sleuthing. I'll look into a fix shortly.

[2022-06-07 11:31] christianwach commented on #38
Thanks @rbaugh fixed in 44f9e4e3d0102f5813f9513d4bd1a92f54f64613

[2022-06-07 11:31] #38 closed, assigned to nobody

[2022-06-07 11:36] christianwach commented on #38
@rbaugh I think those methods should be okay as-is because of the ACF Field Types that trigger them being called. I think the "optional first" params were probably an artefact of early development. Still, let me know if you find anything in your logs that shouldn't be there are we can work backwards to the cause.

[2022-06-07 12:28] rbaugh commented on #38
@christianwach I wasn't sure if there was a reason for the defaults and was just looking for least amount of work needed to remedy the issue. I will let you know if I see anything in the logs. Thanks for the quick fix.

[2022-06-07 12:43] christianwach commented on #36
The latest two commits should address the appearance of the notices. Let me know if it solves things.

[2022-06-23 13:47] #36 closed

[2022-08-09 16:55] rbaugh opened #39 "Primary Email update"
I have had an issue a couple of times where updating the primary email address for a contact doesn't update the corresponding WP user. It doesn't happen often, but does occur at times. Not sure if there are circumstances where this could occur that maybe I should be aware of.

One issue that seems to always be a problem is the UFMatch record. When updating a primary email on the contact, while the

[2022-08-18 16:13] christianwach commented on #39
@rbaugh Sorry for the late reply - holidays eh?

Yes, it should be updated.

Are you raising the issue here because this plugin doesn't update it?
Or because your CiviRule doesn't update it - and when it doesn't, then sync via this plugin fails?

[2022-08-18 16:21] rbaugh commented on #39
@christianwach NP, I understand.

I was raising the issue as the UFMatch.name is not getting updated for me. So I am having to update the email in Civi, double check the WP profile and finally update UFMatch through API.

I only mentioned the WPCiviRules in that we use it in email templates to remind people of their login at times and when it doesn't get updated, it causes issues. Plus changing a

[2022-08-19 15:06] christianwach commented on #39
@rbaugh Do you have any idea of the context in which this happens? Is there anything related in your logs?

[2022-08-19 15:10] christianwach commented on #39
@rbaugh FYI this sounds really hard to "blind debug"... I'd recommend putting code into your system that logs when the UFMatch table is updated and there's no email remaining in the record. The backtrace from that should tell you where the issue stems from.

One final thought - do you have any CiviRules that are unfinished? If so, delete them or finish configuring then - I've seen this cause all s

[2022-08-22 17:49] rbaugh commented on #39
@christianwach I will check logs and see if I can find anything.

Overall, whenever I change the primary email for a contact, the WP profile is updated but not the UFMatch. This is consistently failing on the update, but I will need to see if there is anything in the logs. I will also see if I can debug this and if I find a culprit, I can look to submit an update or PR

[2022-08-23 16:17] christianwach commented on #39
@rbaugh Okay, I've replicated this now - thanks for the report. I suspect this hasn't come up before because the UFMatch Email is rarely used - people probably simply use the Email attached to the Contact record. Indeed, in multi-domain situations, there are multiple UFMatch records and it then becomes tricky to decide which one to use.

I'll see if I can implement a quick fix - however it's a bit

[2022-08-23 16:40] christianwach commented on #39
FWIW I'd also suggest that the WPCiviRules Extension's token logic is somewhat shaky:

* It doesn't use standard WordPress functions (e.g. [wp_generate_password()](https://developer.wordpress.org/reference/functions/wp_generate_password/) thus bypassing the `random_password` filter.
* It conflates `uf_username` with `uf_name` which are definitely not the same thing - the former is an actual userna

[2022-08-23 16:53] rbaugh commented on #39
@christianwach I am glad you caught the issue. I could use another option for the token, but had already set it up and realized the problem as the email address in the body of the email was not matching the WP account.

I can see your point about npt updating WP, but if a member is updated in Civi and then tries to do a PW reset with the new email, it wouldn't work. One of our clients goes in and

[2022-08-23 17:16] christianwach commented on #39
@rbaugh My issue with the Primary Email being synced to the WordPress User is that it doesn't properly take into account [the logic in CiviCRM](https://docs.civicrm.org/user/en/latest/organising-your-data/contacts/#addresses) that is used in Mailings. Someone may wish to change the Email they want to receive Mailings at but *not* wish to change their WordPress Email. My goal here is to suggest peo

[2022-08-23 17:17] christianwach commented on #39
And then there's the added complication of the "Bulk Email" attribute 😆 - as I said, it's a can of worms!

[2022-08-23 17:23] christianwach commented on #39
The logic appears to be this...

And of course multiple Emails can be selected for Bulk Mailings... which makes me think that the custom Location Type sync is probably the lightest touch sync. Your CiviCRM admins would still be able to update the WordPress User Email from CiviCRM, they'd just be doing it without affecting the Contact's choices regarding Mailings.

[2022-08-23 17:27] christianwach commented on #39
@rbaugh Just swerving back to this for a moment... do you mean this a result of this plugin overlooking the UFMatch Email update or is this something that happens in CiviCRM more generally?

[2022-08-23 17:35] rbaugh commented on #39
The mailings itself isn't the issue, at least not what sent got me to this issue ticket. We have an email template that is using the CiviRule token in the footer as a reminder to someone what email they used for when they are logging into their account. While the email address this message is being sent to may be the same email address, it also may not be and we are just adding it in as a reminder

[2022-08-23 17:56] christianwach commented on #39
Thanks for the clear explanation of your scenario 👍

I'm on the case with a fix that works on WordPress single site, multisite and multi-domain.

[2022-08-23 19:50] rbaugh commented on #39
Didn't catch this reply earlier. I get what you mean by the sync of primary to WP/CMS.  Having a flag for CMS like the is primary would be useful. Only one can be used and could be set as desired. If only one email, then is becomes primary and CMS user email.

Appreciate getting a patch in for this. I haven't had a chance to get to debugging and looking into the code.

[2022-08-24 13:17] christianwach commented on #39
@rbaugh I've added a branch with what I think is a fix:

https://github.com/christianwach/civicrm-wp-profile-sync/tree/ufmatch

Can you check if that fixes things for you?

@kcristiano @danaskallman I suspect this thread may be of interest to you both since my fix:

* Updates all UFMatch records for a User regardless of Domain ID
* Syncs the Contact Primary Email to the WordPress User Email even w

[2022-08-24 14:02] rbaugh commented on #39
@christianwach I'll test this out later today.

[2022-08-24 18:00] christianwach commented on #39
@kcristiano Here's a scenario:

* WordPress Multisite
* Multiple Domains in CiviCRM
* A CiviCRM admin visits the CiviCRM back-end and edits a Contact's Primary Email
* That Contact is not in the current Domain Group
* The WordPress User is not found because there is no UFMatch for that Domain
* The Primary Email is changed but the WordPress User Email is not

Now we have data corruption.

If the U

[2022-08-24 20:50] kcristiano commented on #39
and if we update all domains and that is not the scenario wouldn't we have data corruption?

I think this needs testing before merging/releasing - certainly before releasing.  Happy to help I just need to get past a few other issues first

[2022-08-24 23:50] christianwach commented on #39
Having mulled this over all evening, I'm wondering what use there is in multiple entries in the `uf_match` table (with different Domain IDs) linking the Contact and the User?

If the purpose of the `uf_match` table is to look up the connection between Contact and User, then the only use case I can see (as you say @kcristiano) is where each entry connects the Contact to a User in a different CMS. I

[2022-08-24 23:52] christianwach commented on #39
Good question. I'll look into this when I get a chance.

[2022-08-25 11:35] kcristiano commented on #39
The  primary use case is One CiviCRM Multi-Domain connected to multiple single site installs  (regardless of the CMS) with different users.   That is the exception I am thinking of.

I also don't see much value in `uf_name` either

[2022-08-25 21:04] rbaugh commented on #39
@christianwach @kcristiano
If the `uf_name` isn't really used anywhere else, then I think maybe this doesn't need to be part of the table since it can be derived anyways. Not sure if the purpose was to limit another lookup, but can be handled if this field wasn't used anymore. This wouldn't be a problem anymore either as we wouldn't need to worry about updating it when the CMS profile email is upd

[2022-08-26 11:13] christianwach commented on #39
@rbaugh To be clear, I'm not proposing an additional attribute (that would require changes in CiviCRM Core) but instead propose to map a Location Type so that the Email with that Location Type is synced to the CMS - the same way this plugin does for the Website Type. People can then use an existing Location Type or create a custom one.

[2022-08-26 11:33] christianwach commented on #39
Yes, this could be a problem - which is why (for the time being) I'm looking at the best way to do this. There'll be an update to the `ufmatch` branch in due course when I've figured out the interaction with the CiviCRM Multisite Extension.

[2022-08-26 12:00] rbaugh commented on #39
@christianwach I understand that the `UFMatch` and the attribute comments would be a core issue/change. I was just commenting and rationalizing against this issue I added in. I am not as familiar with core history and code as you are and really thought the `uf_name` was something utilized more but apparently it isn't.

I appreciate the time on this and enjoy having the community around core that h

[2022-08-26 14:29] christianwach commented on #39
@kcristiano Okay that seems a reasonable assumption... I've been checking my Multisite/MultiDomain installs and I can't find an example where there _are_ multiple UFMatch entries. However, that's not to say that there _cannot be_ multiple UFMatch entries - I still think the Multisite use case I laid out above remains problematic, i.e. when the CiviCRM Domains are tied to WordPress Subsites in a Mu

[2022-09-07 12:44] christianwach commented on #39
I've been looking again at this yesterday and today as I was keen to get it in to the next release, but have come across some oddities that may mean postponing it - mainly to do with the way the [CiviCRM Multisite Extension](https://lab.civicrm.org/extensions/multisite) handles UFMatch updates.

The commit that I force-pushed to the `ufmatch` branch should "just work" for installations without the

[2022-09-07 14:23] andyburnsco commented on #39
I've tested this in multisite setting with both PR's. I did not see the email update in multisite when a user had 2 uf_match entries domain 1 and domain 21 (only a user on domain 21) when doing any of the following:

- Merging on domain 1 with user record on left side of merge screen (trashed, but moved all related data, moved primary email on uf_match entry as primary (overwrite)
- Saving primary

[2022-09-08 08:14] christianwach commented on #39
@andyburnsco Hi Andy, thanks for testing, much appreciated. Before I dive in with further testing myself based on your results, can I check with you that your "Sync CMS Email" setting is set to "No" on all the Domains you're working with?

<img width="443" alt="Screenshot 2022-09-08 at 09 06 48" src="https://user-images.githubusercontent.com/726936/189069574-87ecbfc3-9e30-43c8-bbb0-05ca101fdd21.pn

[2022-09-08 10:39] christianwach commented on #39
Thanks @andyburnsco that's very useful. When updated, did the UFMatch values change as expected?

When network-activated, you'll find the Profile Sync settings under the `cwps_settings` meta key in `wp_sitemeta`. These propagate to each Sub-site Profile Sync Settings Page, but (as I said above) don't automatically update CiviCRM's settings unless saved on each Sub-site. I'll try and address this a

[2022-09-08 12:41] rbaugh commented on #39
@christianwach I was able to test the UFMatch branch and it looks like it is working as expected for me. I was able to switch the primary email used as well as making updates to the email itself and the changes were updated for the WP profile and the UFMatch to match the CiviCRM changes.

When I updated the email from the WP side, the CiviCRM record is updated but the UFMatch is not carrying acros

[2022-09-09 15:40] christianwach commented on #39
I had to do a release yesterday but didn't include this as I think it still needs a lot more testing.

[2022-09-23 12:43] christianwach commented on #33
@jbonlinea So I think the `contact_type_id` bit was solved by #36 and I can confirm the problem with CiviRules. This is a bug in CiviRules as can be shown by the following API call without this plugin being present:

[code]

I'll post this on the CIviRules issue too.

[2022-09-23 13:12] christianwach commented on #33
@jbonlinea Okay, so there is definitely a bug in CiviRules, but 3604e4cd3328d8d1abc583a01f8321aedb5166ce should avoid hitting it.

[2022-09-24 13:45] jbonlinea commented on #33
Excellent !

Thank's

[2022-10-10 14:34] jbonlinea opened #40 "Contact action : Not enough data to save a Contact"
Hi there,

I'm digging into the (no so) new acfe form feature to access/write civicrm data, and I'm stuck at the very start ?!

Basically I've created an acf group with three fields `firstname`, `lastname `and `email`, and I have added the location rule for `acfe entity individual`.

Then I've created the acfe form and added one `contact action`, and have `mapped `my fields.
Note that I have tried

[2022-10-10 14:58] christianwach commented on #40
@jbonlinea Sorry, I can't reproduce this with the information you've supplied. Can you add some screenshots?

[2022-10-10 15:20] jbonlinea commented on #40
hi

here is what I have :)

my acf group
![acfgroup](https://user-images.githubusercontent.com/23659411/194900310-7951c57c-0660-48d3-a18b-98ac103edf0e.PNG)

my acfe form settings (as said I've tried many but here is one)
![acfeform1](https://user-images.githubusercontent.com/23659411/194900274-3eed08cd-1f89-4376-8553-3453600ac5f1.PNG)
![acfeform2](https://user-images.githubusercontent.com/23659411

[2022-10-10 16:17] christianwach commented on #40
@jbonlinea Switch "Submitter" to "Yes" since that Contact Action is for the form submitter.

[2022-10-10 16:22] christianwach commented on #40
FYI every form needs to be submitted by someone - so there must be a Contact Action that determines who that is. Subsequent Actions can then reference that Contact in various different ways, e.g. a Relationship, a Target Contact for an Activity, etc etc.

[2022-10-10 16:41] jbonlinea commented on #40
I've tried this way earlier and now again with the exact same settings I've sent above and got the same error :(

I undnerstant that every form must be submited to someone and that this setting is only usefull when one sutmit the form and edit someone else, like in your exemple in the documentation

[2022-10-11 12:08] jbonlinea commented on #40
Yes of course, I do have an admin account and an ftp/ssh access

I actually haven't found anything relevant in the JS console of my browser, so I have reactivated wp debug and after cleaning the file full of old notice, and CiviFlexMailer notice, I have found this

[code]

Which is exactly where I had seen yesterday that only first and last name were mandatory for individual.

Note that I do ne ha

[2022-10-11 13:26] christianwach commented on #40
Huh, well that's very strange - I can see from your screenshots that you have "Contact Type" to "Individual". Can you inspect the dropdown element and see what the `<option>` value is?

You could also pop the following code at [this point](https://github.com/christianwach/civicrm-wp-profile-sync/blob/0bcec5443d5517c7ed4e4e574d1efbd99d2ca835/includes/acf/acfe/form-actions/cwps-acf-acfe-form-action-

[2022-10-11 13:57] christianwach commented on #40
Okay, so no Contact data is being read from the form. Well at least we know why validation is failing!

Remove the logging code that you added and add the following code at [this point](https://github.com/christianwach/civicrm-wp-profile-sync/blob/0bcec5443d5517c7ed4e4e574d1efbd99d2ca835/includes/acf/acfe/form-actions/cwps-acf-acfe-form-action-contact.php#L3689) instead:

[code]

[2022-10-11 14:02] jbonlinea commented on #40
here you are :)

[code]

[2022-10-11 14:03] christianwach commented on #40
@jbonlinea You did save your ACFE Form? Because ACF doesn't seem to think your Form has any Actions.

[2022-10-11 14:17] jbonlinea commented on #40
ok, here is what I have

with only civi contact action
![Captureacfenoaction](https://user-images.githubusercontent.com/23659411/195115300-d2585821-82d4-4bf1-bb77-02d8ffdf4dae.PNG)

I tried to remove the action, save the form, exit the edit page, add a contact action again, save the form... same as above.

Then I edited the form again to add a dumb custom action, and this is what I have
![Capturea

[2022-10-11 14:21] christianwach commented on #40
@jbonlinea Okay well... so the problem doesn't seem to be due to anything this plugin is doing - you seem to have a problem with ACF and/or ACF Extended themselves.

Perhaps you need to increase your [PHP `max_input_vars`](https://www.php.net/manual/en/info.configuration.php#ini.max-input-vars) setting?

Perhaps you could try a basic Form using just the Actions supplied by ACF Extended and see if

[2022-10-11 15:11] jbonlinea commented on #40
You did a lot already !

But I have good, and weird news.

---

first

I already do use acfe form, but it wasn't for Civi yet, and it worked so far.

---

I had a 10 000 max input var, I've just raised it to 50 000, but no change.

don't know the math where it may change something ?!

---
I have completely rebuilt the same form.

I have choosen a diferent acf group, a much more complicated one, to

[2022-10-11 15:26] jbonlinea commented on #40
Arf,

disabling acf extend pro fixed the issue...

I do not have the latest release tho, I'm stuck wih 0.8.8.4 as I haven't renewed the license lately.  Do you use it too ? which version ?

Thank's

[2022-10-11 15:38] #40 closed

[2022-10-11 16:29] christianwach commented on #40
Aha. Yeah, it tends to help to have the latest versions of everything.

[2022-10-22 09:19] christianwach commented on #39
@rbaugh I've added some commits to `master` that should update UFMatch records when sync happen in that direction.

[2022-10-27 12:43] rbaugh commented on #39
@christianwach, Thanks for continuing the work on this. I will check this out and see how things work.

[2022-11-16 12:39] jbonlinea opened #41 "[Feature idea] Acfe From action : remove from group feature"
Hi Christian

I see that is is possible to add a contact to a group, and it can be done conditionally as you explain in the doc.

But I haven't seen any way to remove a contact from a group ?

Have I missed something, is it a feature you did not think about, or is it super complicated or risky to deploy ?

Thank's in advance for your repy
and 💯  for this awesome plugin that keep going forward

[2022-11-16 14:58] jbonlinea opened #42 "Contact deletion : synced do not occurs when bulk change in wp"
Hi christian

I've just realised that when the WP-CPT are deleted one by one in wp, their synced contact is also deleted in civi (soft deleted)
But when WP-CPT are deleted **in bulk** in wp, their synced contact **is not**  deleted in civi (soft deleted).

I know there are "dangers" to sync deletion, but this behavior it fooled me.

Is it intentional from you to only sync "one by one deletion" ?

[2022-11-16 17:14] jbonlinea opened #43 "ACF participant : Editing participant in civi clear (some) particpant field -- unless it is saved twice in civi"
Hi there,

I'm getting into the participant CPT sync feature.

I did have set it up according to the documentation, and have mapped some custom field. For the record, I do have a radio field and a file field and they are properly mapped/synced ! Excelent !

The issue is that when I edit a participant in Civi, not the "participation itself", but the "source" for instance, or my custom field, the ch

[2022-11-16 17:31] jbonlinea opened #44 "File field: mapping ok, but nothing happens when using ACFE forms"
Hi there (again :)

I know that the file field sync depends of some advancement of Civicrm, I do have the lastest release to date 5.55.1, and the today master branch of this plug-in, but I do not know if the comit you metion in the doc is included the my civi release yet  ?

I have maped a Civi custom file field to an ACF file field, and they sync nicely, so I guess the above is not the issue :)

[2022-11-18 15:48] jbonlinea opened #45 "Civi-Participant not create when WP-Participant is created programmatically"
Hi there,

The more I dig into the "new" feature of this plug-in, the more I like it.

I'm not sure if this is something you may consider to address, but it would be great if yes :)

I just realise that
- when I create a WP-Praticipant from wp-admin, the synnced Civi-Participant is created as well : awesome
- when I create a WP-Participant programatically (with a third party form), then the Civi-P

[2022-11-18 16:51] jbonlinea opened #46 "Feature idea : sync a wp taxonomy to an acf custom field of type radio or checkbox"
Hi there,

I've bumbped into a case where I do sync a checkbox field between Acf and Civi-Custom field.
It works great as long as you have properly set the options and values on both side, manually.

One thing that would be great is to be able to sync an acf taxonomy field with a Civi-Custom-field of type checkbok or radio.

At first, it would be ok if we still have to set values manually on both